@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

  .app {


    .bottom {
        text-align:left;
        font-weight:bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:"[theme: themeDark, default:#ffd300]";
        color: "[theme: neutralSecondary, default:#000000]"
    }

    .bottom ul{
        list-style-type: none;
    }

    .bottom ul a{
        color:#ffffff;
    }
  }